doctype html
title #{title}
style
	include ../public/stylesheets/login.css
html
	form
		| 账号
		input(type='text' name='username')
		| 密码
		input(type='password' name='password')
		input(type='submit' value='submit')
		a(href='/catalog') admin
		a(href='/') user
