extends layout

block content
	title= title 
	section(class='list')
		each text in text_list
			section
				p= text.title
				p= text.content
				p= text._id
				a(href='/catalog/text/:id/delete') delete
				a(href='/catalog/text/:id/detail') detail
				a(href='/catalog/text/:id/update') update
		else
			li There are no texts.
