extends layout

block content
	title= title
	section(class='user_list')
		each user in user_list
			section
				p= 'userid:'+ user.userid
				p= user._id
				a(href='/catalog/user/:id/delete') delete
				a(href='/catalog/user/:id/update') update
